<link rel='stylesheet' href='../css/messages/globalstyles.css'>
<link rel='stylesheet' href='../css/messages/header.css'>
<link rel='stylesheet' href='../css/messages/profilebanner.css'>
<link rel='stylesheet' href='../css/messages/profileactions.css'>
<link rel='stylesheet' href='../css/messages/maincontent.css'>
<link rel='stylesheet' href='../css/messages/profile.css'>
<link rel='stylesheet' href='../css/messages/timeline.css'>
<link rel='stylesheet' href='../css/messages/widgets.css'>
<link rel='stylesheet' href='../css/messages.css'>
<body>
   <header id="main-header">
      <div class="wrapper">
         <nav class="col-md-4">
            <ul>
               <li>
                  <a href="#/">
                     <img src="../images/messages/home.svg" alt="home"/>
                     <p>Home</p>
                  </a>
               </li>
               <li>
                  <a href="/">
                     <img src="../images/messages/notification.svg" alt="notifications"/>
                     <p>Notifications</p>
                  </a>
               </li>
               <li>
                  <a href="/">
                     <img src="../images/messages/message.svg" alt="messages"/>
                     <p>Messages</p>
                  </a>
               </li>
            </ul>
         </nav>
         <div>
            <img src="../images/messages/logo.svg" alt="Logo Twitter"/>
         </div>
         <section class="main-header-right-side">
            <input type="text" ng-model="filterLikes" placeholder="Search Twitter" ng-model="searchT"/>
            <a href="#/profile">
            <img ng-if="user.avatar" src="{{user.avatar}}" alt="Avatar"/>
            <img ng-if="!user.avatar" src="../images/egg_avatar.jpg" alt="Avatar"/>
            </a>
            <button ng-click="deslog()" class="btn btn-link btn-sm logout">
            <span class="fa fa-window-close"></span>
            </button>
         </section>
      </div>
   </header>
   <br><br><br><br><br><br><br>
   <section class="main-content wrapper col-md-12">
      <article class="timeline col-md-8">
         <nav>
            <a href="/#/">Tweets</a>
            <a href="">Tweets & replies</a>
            <a href="">Media</a>
            <a class="active" href="/#/likes">Likes ({{messages.length}})</a>
         </nav>
         <ul>
            <li ng-repeat="message in messages | orderBy: 'date':true | limitTo:10 | filter:searchT">
               <a href="/">
                  <div class="tweet">
                     <div class="avatar">
                        <img ng-if="message.avatar" src="{{message.avatar}}" alt="Avatar"/>
                        <img ng-if="!message.avatar" src="../images/egg_avatar.jpg" alt="Avatar"/>
                     </div>
                     <div class="content">
                        <header>
                           <strong>{{message.userFullname}}</strong>
                           <span>@{{message.user_id}} · {{message.date}}</span>
                        </header>
                        <p>{{message.content}}</p>
                        <div ng-show="message.images" class="content-images">
                           <img ng-repeat="image in message.images track by $index" src="{{image}}" alt="{{image}}"/>
                        </div>
                        <ul>
                           <li>
                              <p>
                                 <img src="../images/messages/comments.svg" alt="Comments"/>{{message.conversation.length}}
                              </p>
                           </li>
                           <li>
                              <p>
                                 <img src="../images/messages/retweet.svg" alt="Retweets"/>257
                              </p>
                           </li>
                           <li>
                              <p class="p_likes background_red">
                                 <img id="img_like_{{message._id}}" src="../images/messages/like.svg" alt="Likes"/>
                              <p>{{message.like}}</p>
                              </p>
                           </li>
                           <li>
                              <p>
                                 <img src="../images/messages/message.svg" alt="Share"/>
                              </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </a>
            </li>
         </ul>
      </article>
      <aside class="widgets col-md-4">
         <div class="widget follow">
            <div>
               <h1>You might like</h1>
            </div>
            <ul>
               <li ng-repeat="userinusers in users | limitTo:3">
                  <a>
                     <img ng-if="userinusers.avatar" src="{{userinusers.avatar}}" alt="@{{userinusers.username}}"/>
                     <img ng-if="!userinusers.avatar" src="../images/egg_avatar.jpg" alt="@{{userinusers.username}}"/>
                     <div>
                        <strong>{{userinusers.fullname}}</strong>
                        <span>@{{userinusers.username}}</span>
                     </div>
                    <button ng-click="follow(userinusers._id)">Follow</button>
                  </a>
               </li>
               <li>
                  <a href="#/user/{{user.username}}">
                     <p>Show more</p>
                  </a>
               </li>
            </ul>
         </div>
         <div class="widget trends">
            <div>
               <h1>Trends</h1>
            </div>
            <ul>
               <li ng-repeat="hastag in hastags | limitTo:3 | orderBy: value">
                  <a href="/">
                  <span>Academy · ({{hastag.value}})</span>
                  <strong>{{hastag.key}}</strong>
                  </a>
               </li>
               <li>
                  <a href="/trending">
                     <p>Show more</p>
                  </a>
               </li>
            </ul>
         </div>
         <footer>
            <nav>
               <a href="/">Terms</a>
               <a href="/">Privacy policy</a>
               <a href="/">Cookies</a>
               <a href="/">Ads info</a>
               <a href="/">More</a>
               <p href="/">© 2021 CDS Academy.</p>
            </nav>
         </footer>
      </aside>
   </section>
</body>